*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#111827;
    position:sticky;
    top:0;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:4rem;
}

.hero h2{
    color:#38bdf8;
    margin:15px 0;
}

.hero p{
    max-width:700px;
    margin-bottom:20px;
}

.btn{
    background:#38bdf8;
    color:black;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:80px 10%;
}

section h2{
    text-align:center;
    margin-bottom:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

#contact{
    text-align:center;
}

footer{
    text-align:center;
    padding:30px;
    background:#111827;
}